*{
    box-sizing: border-box;
    font-family: 'Hero', serif;
}

body{
    margin: 0;
}

.head{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 16px 150px;
    gap: 150px;
}

.header{
    display: flex;
}

.hmain{
    font-size: 48px;
    font-weight: 800;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
}

li{
    margin-left: 24px;
}

ul,
.hsec{
    font-size: 18px;
    color: #E5E7EB;
}

.hsec{
    margin: 34px 0;
    width: 500px;
}

.hlogo{
    font-size: 24px;
    font-weight: bold;
}

.up{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.up button{
    background-color: #3882F6;
    width: 140px;
    height: 40px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.img1{
    width: auto;
    height: 240px;
}

.mid{
    display: flex;
    flex-flow: column;
    padding: 40px;
}

.subheader{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.img2{
    height: 170px;
    width: auto;
    border-radius: 20px;
    margin: 0 30px;
}

.midim{
    align-self: center;
}

.midtxt{
    display: flex;
    align-self: center;
    margin-top: 8px;
}

.msec{
    width: 170px;
    margin: 0 30px;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    padding: 130px 180px;
    flex-flow: column;
    align-items: center;
    gap: 24px;
}

.quotesec{
    font-size: 26px;
    align-self: end;
}